/**
* @author Antoine Godbout
*/

.hyperlien {
  color: $bleu;
  &:visited {
    color: $bleu;
  }
  &:hover {
    color: $jaune;
    text-decoration: underline;
  }
  &:active {
    color: $jaune;
    text-decoration: underline;
  }
}